# ======================
# macOS 
# ======================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# ======================
# Node / npm / 
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.env
.venv
venv/
env/

# ======================
# Visual Studio Code / 
# ======================
.vscode/
.idea/

# ======================
# 
# ======================
dist/
build/
*.log
*.tmp

# ======================
# 
# ======================
Thumbs.db
*.swp
*.bak
*.old
